<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <!-- <button (click)='increment()'>Increment</button>
    <button (click)='decrement()'>Decrement</button> -->
    
    <button  routerLink="/employeelist" routerLinkActive="active">Employees</button>
    <button  routerLink="/test" routerLinkActive="active">Test</button>

    <!-- <app-test [count]=counter></app-test> -->
    <br>
    
        <!-- <h4>Fahrenheit to Celcius</h4>
        <p>Fahrenheit: <input type="text" [(ngModel)]='Fahrenheit'></p>
        <p>Celcius: {{Fahrenheit | temptransform: 'C'}}</p>
     -->
</div>
    <router-outlet></router-outlet> 
    

    <br>
    <!-- <app-employeelist></app-employeelist> -->
 